.react-calendar {
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #e68929;
  font-family: Arial, sans-serif;
}

.react-calendar__tile {
  border-radius: 4px;
  padding: 10px;
}

.react-calendar__tile--active {
  background-color: #e68929;
  color: #e68929;
}


.fc-day-today {
  background-color: #e68929 !important;
  color: white !important; 
  font-weight: bold !important;
}

.fc-day-today .fc-day-number {
  color: white !important;  
}
