.react-calendar {
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgb(80, 67, 255);
  font-family: Arial, sans-serif;
}

.react-calendar__tile {
  border-radius: 4px;
  padding: 10px;
}

.react-calendar__tile--active {
  background-color: #4a56ff;
  color: #12124e;
}


/* Estilo para o dia atual */
.fc-day-today {
  background-color: #ff5722 !important; /* Cor de fundo mais forte para o dia atual */
  color: white !important; /* Cor do texto */
  font-weight: bold !important;
}

.fc-day-today .fc-day-number {
  color: white !important;  /* Cor do número do dia */
}
